/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em)  { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 27.25em)  { @content ; }
	}
}

@mixin make-content-container() {
	@include container-fixed;
	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

@mixin make-background-icon($image-url, $right-padding) {
	background-image: url($image-url);
	background-repeat: no-repeat;
	background-position: 100% center;

	#{$heading-types},p {
		padding-right: $right-padding;
	}
}

@mixin headingPrio1 (){
	font-family: $font-family;
	font-size: $huge-font-size;
	font-weight: bold;
}
@mixin headingPrio2() {
	font-family: $font-family;
	font-size: $extra-large-font-size;
	font-weight: bold;
}
@mixin headingPrio3() {
	font-family: $font-family;
	font-size: $large-font-size;
	font-weight: bold;
}
@mixin inset-box-shadow($h-shadow, $v-shadow, $blur, $spread, $color) {
	-webkit-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
	-moz-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
	box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
